@import url(../fonts/nunito/nunito.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #111e48;
    font-family: 'Nunito', sans-serif;

    header.header {
        padding: 0 40px;

        nav.main-nav {
            display: flex;
            height: 70px;
            align-items: center;

            .brand-logo {
                margin-right: auto;

                a {
                    img.image-logo {
                        max-width: 50px;
                    }
                }
            }

            .nav-items-container {
                display: flex;

                .nav-item {
                    a.nav-link {
                        display: block;
                        line-height: 70px;
                        padding: 0 10px;
                        text-decoration: none;
                        color: #f3f3f3;
                    }
                }
            }
        }
    }

    main.main-app {
        color: #f3f3f3;
        padding: 20px;
        min-height: calc(100vh - 140px);

        h1.welcome {
            text-align: center;
        }

        p.greeting {
            text-align: center;
        }

        div.game-container {
            max-width: 600px;
            height: 400px;
            border-radius: 20px;
            overflow: hidden;
            margin: 20px auto;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        }
    }

    footer.footer {
        height: 70px;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 20px 40px;
    }
}